example-card{
    width: 40%;
    margin-left: 350px;
}
example-full-width{
    width: 400px;
    position: relative;
    left: 50%;
}
table{
    width: 100% !important;
}

.wrapper{
   margin-top:15px;   
}

  th{
    background-color:aqua !important;
    color: rgb(220, 31, 31);
    font-size: 16px;
    margin: 30px;
}
td{
    font-size: 14px;
    padding: 10px;
    margin-left: 50px;

}
.example1-card{
    width: 100%;
    margin-top: 100px;
}

 
  
  
